services:
  postgres:
    image: 'postgres:18.0'
    environment:
      POSTGRES_DB: proyectoPOO
      POSTGRES_PASSWORD: 123456
      POSTGRES_USER: diego
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql
    restart: unless-stopped

volumes:
  postgres_data: